.order_btn {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.f-bg-left-shopping,
.f-bg-right-shopping,
.f-bg-circle-shopping {
  position: absolute;
  z-index: -2;
}

.f-bg-left-shopping,
.f-bg-right-shopping {
  height: 100%;
}

.f-bg-left-shopping {
  width: 20%;
  background-color: #FEE19F;
}

.f-bg-right-shopping {
  width: 80%;
  right: 0;
  background-color: #B7DDE0;
}

.f-bg-circle-shopping {
  height: 800px;
  width: 800px;
  border-radius: 50%;
  background-color: #FEE19F;
  right: -250px;
  bottom: -200px;
}

.f-quantity {
  width: 50px;
  background-color: transparent !important;
  border: 1px solid #735b69;
  border-radius: 10px;
  padding: 5px;
}

.f-deLbtn {
  color: #735b69 !important;
}

.f-order-btn {
  color: #735b69 !important;
  border: 1px solid #735b69 !important;
  background-color: #735b693a !important;
}

.f-order-btn:hover {
  color: #fff !important;
  background-color: #735b69 !important;
  -webkit-transition: 1s;
  transition: 1s;
}

.personal_information {
  margin-top: 150px;
}

.personal_information .personal_photo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.personal_information img {
  width: 300px;
}

.f-personal-bg {
  background-color: #B7DDE0;
}

.upd_btn {
  border-color: #735b69 !important;
  color: #735b69 !important;
  background-color: rgba(255, 208, 214, 0.397) !important;
}

.upd_btn:hover {
  color: #ffffff !important;
  background-color: #FFD0D6 !important;
  -webkit-transition: .5s;
  transition: .5s;
}

.logoin_pang {
  display: none;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.logoin_pang .logoin_box {
  width: 335px;
  height: 403px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.logoin_pang .logoin_pang_inside {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-content {
  height: 500px;
}

.modal-content .modal-title img {
  margin-left: 42%;
}

.modal-content .modal-footer {
  padding: 0px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-bg {
  background-color: #FEE19F !important;
  overflow: hidden;
}

.login-bg .show {
  z-index: 2;
}

.regd-bg {
  background-color: #B7DDE0 !important;
}

.bg-circle {
  position: absolute;
  height: 110%;
  width: 110%;
  border-radius: 50%;
  background-color: #B7DDE0;
  left: -70px;
  top: -25px;
}

.f-log-input {
  background-color: transparent !important;
  border: 0 !important;
  border-bottom: 2px solid #735b69 !important;
  border-radius: 0 !important;
}

.log-btn {
  border: 1px solid #735b69 !important;
  color: #735b69 !important;
  margin: 0 !important;
}

.log-btn:hover {
  background-color: #735b698f !important;
  color: #ffffff !important;
  -webkit-transition: 1s;
  transition: 1s;
}

.regd-btn {
  color: #735b69 !important;
  margin: 0 !important;
}

.registered_btn {
  background-color: #fde6af !important;
  border: 0 !important;
}

.registered_btn:hover {
  background-color: #FEE19F !important;
}

body {
  position: relative;
}

.f-bg-left,
.f-bg-right {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0px;
  z-index: -2;
}

.f-bg-left {
  background-color: #FEE19F;
}

.f-bg-right {
  right: 0px;
  background-color: #B7DDE0;
}

.header {
  background-color: transparent;
}

.f-collapse-link {
  color: #735b69 !important;
  background-color: rgba(255, 208, 214, 0.397) !important;
  border: 0 !important;
}

.f-collapse-link:hover {
  color: #ffffff !important;
  background-color: #FFD0D6 !important;
  -webkit-transition: .5s;
  transition: .5s;
}

.logo {
  width: 50%;
}

.f-menu-btn {
  width: 55px;
  height: 55px;
  border-color: #ffa8b4 !important;
  color: #ffa8b4 !important;
}

.f-member_btn {
  font-size: 1.5rem;
}

.f-member_btn a {
  color: #ffa8b4 !important;
}

.f-member_btn button {
  color: #ffa8b4 !important;
  font-size: 1.5rem !important;
  padding: 0;
  height: 100%;
}

.f-member_btn a:hover,
.f-member_btn button:hover {
  color: #fd909e !important;
  -webkit-transition: 1s;
  transition: 1s;
}

.f-img-center {
  height: 348px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
}

.f-card-border {
  border: 0 !important;
  color: #735b69;
  background-color: rgba(253, 197, 204, 0.432) !important;
  -webkit-transition: 1s;
  transition: 1s;
}

.f-card-border:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 1s;
  transition: 1s;
}

.botton_logo {
  width: 100px;
}

.user-acc {
  background-color: transparent !important;
  border: 0 !important;
}

.footer {
  background-color: #735b69;
  color: #735b69;
  height: 50px;
}

.footer .f-footer-icons {
  width: 120px;
}

.footer .f-footer-icons a {
  color: #B7DDE0  !important;
}

.black_dot {
  list-style-type: none;
}

.hisb {
  position: relative;
  min-height: 100vh;
  padding-bottom: 180px;
  overflow: hidden;
}

.hisf {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
}

.f-history-record {
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.315);
  border-radius: 15px;
  color: #735b69;
}

.f-history-record:hover {
  background-color: rgba(255, 255, 255, 0.664);
  -webkit-transition: 1s;
  transition: 1s;
}

.order {
  color: #735b69 !important;
}

.record-content {
  border: 0 !important;
  background-color: rgba(255, 255, 255, 0.315) !important;
  border-radius: 15px !important;
  color: #735b69;
}

.single_page_information {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #735b69;
}

.carousel-item img {
  height: 820px;
}

.f-commodity-bg {
  background-color: #FEE19F;
}

.f-commodity-bg ul {
  list-style: none;
}

.circle,
.circle1,
.circle2 {
  position: absolute;
  height: 900px;
  width: 900px;
  border-radius: 50%;
  top: 5px;
  z-index: -3;
}

.circle {
  left: -120px;
  background-color: #B7DDE0;
}

.circle2 {
  left: -195px;
  background-color: #B7DDE0;
}

.circle1 {
  left: -155px;
  background-color: #FEE19F;
}
/*# sourceMappingURL=all.css.map */