.logoin_pang{
    display: none;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 999;
    .logoin_box{
        width: 335px;
        height: 403px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    }
    .logoin_pang_inside{
        flex-direction: column;
    }
}
.modal-content{
    height: 500px;
    .modal-title{
        img{
            margin-left: 42%;
        }
    }
    .modal-footer{
        padding: 0px;
        border: none;
        display: flex;
        flex-direction: column;
    }
}
.login-bg{
    background-color: #FEE19F !important;
    overflow: hidden;
    .show{
        z-index: 2;
    }
}
.regd-bg{
    background-color: #B7DDE0 !important;
}
.bg-circle{
    position: absolute;
    height: 110%;
    width: 110%;
    border-radius: 50%;
    background-color: #B7DDE0;
    left: -70px;
    top: -25px;
}
.f-log-input{
    background-color: transparent !important;
    border: 0 !important; 
    border-bottom: 2px solid #735b69 !important;
    border-radius: 0 !important;
}
.log-btn{
    border: 1px solid #735b69 !important;
    color: #735b69 !important;
    margin: 0 !important;
}
.log-btn:hover{
    background-color: #735b698f !important;
    color: #ffffff !important;
    transition: 1s;
}
.regd-btn{
    color: #735b69 !important;
    margin: 0 !important;
}
.registered_btn{
    background-color: rgb(253, 230, 175) !important;
    border: 0 !important;
}
.registered_btn:hover{
    background-color: #FEE19F !important;
}